In [1]:
!pip install matplotlib.pyplot

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\longs\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for matplotlib.pyplot

In [ ]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Titanic dataset. Replace 'titanic.csv' with your own dataset file for your project.
# Ensure the dataset file exists and is in the same directory as this jupyter notebook.
Covid_df = pd.read_csv('Covid CSV.csv')
Air_df = pd.read_csv('Air Quality(Back Up).csv')

# Display the first few rows of the dataframe to ensure it is loaded correctly
display(Covid_df['COVID_deaths'].notnull().sum())
display(Covid_df.head(10))
display(Covid_df.loc[["data_period_start", "])
display(Covid_df.columns)
display()
Covid_df['data_period_start']

np.int64(33540)

,data_as_of,Jurisdiction_Residence,Group,data_period_start,data_period_end,COVID_deaths,COVID_pct_of_total,pct_change_wk,pct_diff_wk,crude_COVID_rate,aa_COVID_rate,crude_COVID_rate_ann,aa_COVID_rate_ann,footnote
0,08/07/2025,Region 1,total,01/01/2020,01/04/2020,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
1,08/07/2025,Region 1,total,01/01/2020,01/11/2020,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
2,08/07/2025,Region 1,total,01/01/2020,01/18/2020,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
3,08/07/2025,Region 1,total,01/01/2020,01/25/2020,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
4,08/07/2025,Region 1,total,01/01/2020,02/01/2020,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
5,08/07/2025,Region 1,total,01/01/2020,02/08/2020,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
6,08/07/2025,Region 1,total,01/01/2020,02/15/2020,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
7,08/07/2025,Region 1,total,01/01/2020,02/22/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Death counts between 1-9 are suppressed. Rates...
8,08/07/2025,Region 1,total,01/01/2020,02/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Death counts between 1-9 are suppressed. Rates...
9,08/07/2025,Region 1,total,01/01/2020,03/07/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Death counts between 1-9 are suppressed. Rates...

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1027,Clay,1999,33.0,No Units,No Units,Monitor Only,1
1,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1051,Elmore,1999,5.0,No Units,No Units,Monitor Only,1
2,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1073,Jefferson,1999,39.0,No Units,No Units,Monitor Only,1
3,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1079,Lawrence,1999,28.0,No Units,No Units,Monitor Only,1
4,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1089,Madison,1999,31.0,No Units,No Units,Monitor Only,1
5,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1097,Mobile,1999,32.0,No Units,No Units,Monitor Only,1
6,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1101,Montgomery,1999,15.0,No Units,No Units,Monitor Only,1
7,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1117,Shelby,1999,45.0,No Units,No Units,Monitor Only,1
8,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1119,Sumter,1999,3.0,No Units,No Units,Monitor Only,1
9,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,2,Alaska,2068,Denali,1999,0.0,No Units,No Units,Monitor Only,1

Index(['data_as_of', 'Jurisdiction_Residence', 'Group', 'data_period_start',
       'data_period_end', 'COVID_deaths', 'COVID_pct_of_total',
       'pct_change_wk', 'pct_diff_wk', 'crude_COVID_rate', 'aa_COVID_rate',
       'crude_COVID_rate_ann', 'aa_COVID_rate_ann', 'footnote'],
      dtype='object')

0        01/01/2020
1        01/01/2020
2        01/01/2020
3        01/01/2020
4        01/01/2020
            ...
38020    05/11/2025
38021    05/11/2025
38022    05/11/2025
38023    05/11/2025
38024    05/11/2025
Name: data_period_start, Length: 38025, dtype: object