In [1]:
!pip install matplotlib.pyplot

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot

In [ ]:
""" Just some notes from the cleaing
Row Number 350085 Column amount: 67
not all locations are places, some are just categories like high income
list of others OtherL_df=['High income','Low income', 'Lower middle income','Upper middle income' ]

to show all loccations
ls_df=(nCovid_df[nCovid_df['location'].unique])

the timeline of this date is 3 years, 9 months, 15 days 2020-1-03 to 2023-10-18
"""

In [153]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Titanic dataset. Replace 'titanic.csv' with your own dataset file for your project.
# Ensure the dataset file exists and is in the same directory as this jupyter notebook.
Covid_df = pd.read_csv('newcovid.csv')
Air_df = pd.read_csv('Air Quality(Back Up).csv')

# Display the first few rows of the dataframe to ensure it is loaded correctly
nCovid_df = (Covid_df.fillna(0))
display(nCovid_df.head(5))
#to discard some things that aren't location
Other=['High income','Low income', 'Lower middle income','Upper middle income', 'European Union', 'world']
Noincov_df=nCovid_df[~nCovid_df['location'].str.contains('|'.join(Other), na=False)]

UQ_df=(Noincov_df['location'].unique())
display(UQ_df)
Date_df=(Noincov_df[Noincov_df['date'].str.contains('2023-10-14')])

World_df=(Covid_df[Covid_df['location'].str.contains('World')])
#Date_df=(nCovid_df[nCovid_df['date'].str.contains('2023-10-14')])
UN_df=(nCovid_df[nCovid_df['location'].str.contains('High income')])
#ls_df=(nCovid_df[~nCovid_df['location'].str.contains('|'.join(temp_df), na=False)]))
search_df=(nCovid_df[nCovid_df['location'].str.contains('union')])
display(Date_df['total_cases'].sum())

display(World_df[World_df['total_cases']>0])


display(Covid_df.columns)
s_df=(Covid_df['new_cases'].max())
display(Covid_df.loc[100, 'new_cases'])
display(Covid_df[Covid_df['new_cases']==8401961.0])
print(s_df)
#display(Covid_df.sort_values('location'))

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'Faeroe Islands',
       'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North America', 'North Korea',
       'North Macedonia', 'Northern Cyprus', 'Northern Ireland',
       'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wales', 'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

np.float64(2314210675.0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
344541,OWID_WRL,NaN,World,2020-01-04,3.0,3.0,NaN,NaN,0.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344542,OWID_WRL,NaN,World,2020-01-05,2.0,0.0,NaN,3.0,3.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344543,OWID_WRL,NaN,World,2020-01-06,5.0,3.0,NaN,3.0,0.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344544,OWID_WRL,NaN,World,2020-01-07,5.0,0.0,NaN,3.0,0.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344545,OWID_WRL,NaN,World,2020-01-08,6.0,1.0,1.000,3.0,0.0,0.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345920,OWID_WRL,NaN,World,2023-10-14,771405394.0,1177.0,14363.429,6972084.0,4.0,45.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345921,OWID_WRL,NaN,World,2023-10-15,771407061.0,1667.0,12915.286,6972139.0,55.0,43.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345922,OWID_WRL,NaN,World,2023-10-16,771407061.0,0.0,7955.143,6972139.0,0.0,37.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345923,OWID_WRL,NaN,World,2023-10-17,771407061.0,0.0,4032.429,6972139.0,0.0,21.571,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345924,OWID_WRL,NaN,World,2023-10-18,771407061.0,0.0,2243.857,6972139.0,0.0,17.143,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

np.float64(37.0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
345298,OWID_WRL,NaN,World,2022-01-30,375307853.0,8401961.0,3346361.0,5715126.0,17569.0,9690.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN

8401961.0

In [44]:
#Question one
World_df=(Covid_df[Covid_df['location'].str.contains('World')])
display(World_df['total_deaths'].max())

np.float64(6972139.0)

In [155]:
#question 2
#3*12+9+0.5 ==45.5

6972139.0/45.5

153233.82417582418

In [ ]:
Smokers=['female_smokers', 'male_smokers']

Index(['median_age', 'aged_65_older', 'aged_70_older'], dtype='object')

In [40]:
#Question 4
ages=['median_age', 'aged_65_older', 'aged_70_older']
col_df=Covid_df.columns
display(col_df[col_df.str.contains('age', na=False)])
#there may be some coflict as the numbers could be overlaping, but i only need a ratio and the ratio should be unaffected
display(nCovid_df[ages])

display(nCovid_df[ages].sum()/1504640.046)
# asnwer from median age,aged_65_older,aged_70_older  5.603240:1.542102:1

Index(['median_age', 'aged_65_older', 'aged_70_older'], dtype='object')

        median_age  aged_65_older  aged_70_older
0             18.6          2.581          1.337
1             18.6          2.581          1.337
2             18.6          2.581          1.337
3             18.6          2.581          1.337
4             18.6          2.581          1.337
...            ...            ...            ...
350080        19.6          2.822          1.882
350081        19.6          2.822          1.882
350082        19.6          2.822          1.882
350083        19.6          2.822          1.882
350084        19.6          2.822          1.882

[350085 rows x 3 columns]

median_age       5.603240
aged_65_older    1.542102
aged_70_older    1.000000
dtype: float64

In [ ]:
#Question 5Y
Popden=['new_deaths', 'population']
temp3_df=(Noincov_df[Popden])
#display(temp3_df[temp3_df[Popden]>3987552476.5])   Doesn't work like I intend
Upper_pop=(temp3_df.query("population > 3987552476.5"))
display(Upper_pop.mean())

Lower_pop=(temp3_df.query("population < 3987552476.5"))
display(Lower_pop.mean())
#(7.975105e+09 - 47.0)/2 == 3987552476.5
#Upper Population New cases mean: 3.094645e+03
#Lower Population New cases mean: 5.906722e+01
#3.094645e+03 * 4.600369e+07 == 142365089240.05
#3.614966e+01 * 6.348244e+09 == 229486862197.03998

new_deaths    3.094645e+03
population    6.348244e+09
dtype: float64

new_deaths    3.614966e+01
population    4.600369e+07
dtype: float64

True

In [ ]:
#Question 6 Y
Hosp_df=['new_deaths', 'new_cases', 'hosp_patients']
Patient_df=(Noincov_df[Hosp_df])
Upper_pat=Patient_df[Patient_df['hosp_patients'] >77248.5]
display(Upper_pat.mean())

Lower_pat=Patient_df[Patient_df['hosp_patients'] <77248.5]
display(Lower_pat.mean())
(154497.0/2) == 77248.5

#2262.923977/ 107192.994152 * 100 == 2.1110745108874998
#59.830635 / 393.756637 * 100 == 15.194825782708014

new_deaths         2262.923977
new_cases        273021.532164
hosp_patients    107192.994152
dtype: float64

new_deaths         59.830635
new_cases        6612.176028
hosp_patients     393.756637
dtype: float64

True

In [ ]:
#question 7 
v= 'people_vaccinated'
x='people_fully_vaccinated'
y='total_boosters'
z='population'
vac=[v, x, y, z]
vac1_df=(Noincov_df[vac])
display(vac1_df.sample(10))

,people_vaccinated,people_fully_vaccinated,total_boosters,population
210420,168076.0,50377.0,0.0,2.567024e+06
32396,0.0,0.0,0.0,1.335286e+07
32000,0.0,0.0,0.0,1.335286e+07
198725,0.0,0.0,0.0,1.141780e+05
186239,0.0,0.0,0.0,5.237980e+05
2618,525055853.0,435959520.0,86108634.0,1.426737e+09
85184,12750851.0,10369725.0,85973.0,1.800100e+07
180669,0.0,0.0,0.0,6.951800e+05
82271,0.0,0.0,0.0,7.275800e+04
156623,0.0,0.0,0.0,1.939800e+07

In [276]:
#question 8
display(World_df['total_deaths'].max())
display(World_df['total_cases'].max())
display(World_df['population'].max())


#6972139.0/771407061.0 *100 == 0.9038209983405895
6972139.0/7975105024.0*100 == 0.08742378914156354

np.float64(6972139.0)

np.float64(771407061.0)

np.float64(7975105024.0)

True

In [ ]:

#question 9
display(World_df['total_cases'].max())
771407061.0/7975105024.0 *100 == 9.672688430792507

np.float64(771407061.0)

np.float64(6972139.0)

True

In [ ]:
#question 10